@model IEnumerable<PracticaMVC.Models.Empleados>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PkEmpleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TxtNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TxtApellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TxtCI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TxtDireccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TxtTelefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TxtCorreo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFechaContrato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntFlagEstado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntTipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PkEmpleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TxtNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TxtApellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TxtCI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TxtDireccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TxtTelefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TxtCorreo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFechaContrato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IntFlagEstado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IntTipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
