@model IEnumerable<OnTime.Models.Mensaje>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutMain.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar nuevo Mensaje", "Create")
</p>
<table>
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.txtDescripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fkRemitente)
        </th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.txtDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fkRemitente)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
